.CartItem-controls {
  display: flex;
  flex-wrap: none;
  justify-content: space-around;
}

.empty-cart-message {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: 700;
  font-size: 24px;
}

.total-message {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  padding: 16px;
}

.CartPage-items {
  margin: 0;
  padding: 0;
}
.CartPage-items li {
  list-style: none;
}
.CartItem-count {
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.CartItem-addOne,
.CartItem-removeOne {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}
.CartItem-addOne {
  border-left: none;
}
.CartItem-removeOne {
  border-right: none;
}
